<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>مدیریت کاربران</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <svg class="stroke-icon">
                <use href="assets/svg/icon-sprite.svg#stroke-home"></use>
              </svg></a>
                        </li>
                        <li class="breadcrumb-item">ثبت کاربر جدید</li>
                        <li class="breadcrumb-item active">پیش فرض</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="col-xl-12">
            <div class="card height-equal">
                <div class="card-header">
                    <h4>ثبت بروکر جدید</h4>
                </div>
                <div class="card-body custom-input">
                    <form class="row g-3" [formGroup]="AddUserForm">
                        <div class="col-12">
                            <label class="form-label" for="fullname">نام و نام خانوادگی</label>
                            <input class="form-control" id="fullname" formControlName="Fullname" type="text" placeholder="نام" aria-label="نام" required>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="exampleFormControlInput1">آدرس ایمیل</label>
                            <input class="form-control" id="exampleFormControlInput1" formControlName="Email" type="email" placeholder="EMAIL@EMAIL.com" required>
                        </div>
                        <div class="col-12">
                            <label class="col-sm-12 col-form-label" for="inputPassword">پسورد</label>
                            <input class="form-control" id="inputPassword" formControlName="Password" type="password" required>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="validationDefault04">کشور حوزه فعالیت</label>
                            <p-select [options]="contries" formControlName="Contry" (onChange)="GetAllActiveProvinces($event.value)" optionLabel="name" optionValue="id" placeholder="انتخاب کنید" style="width: 100%">
                            </p-select>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="validationDefault04">شهر حوزه فعالیت</label>
                            <p-select [options]="provinces" formControlName="Province" optionLabel="provinceName" optionValue="id" placeholder="انتخاب کنید" style="width: 100%">
                            </p-select>
                        </div>

                        <div class="col-12">
                            <label class="form-label" for="validationDefault04">محصول حوزه فعالیت</label>
                            <p-select [options]="products" formControlName="Product" optionLabel="name" optionValue="id" placeholder="انتخاب کنید" style="width: 100%">
                            </p-select>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit" (click)="SubmitNewUser()">ارسال</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->