<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>تاریخچه معرفی های من </h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <svg class="stroke-icon">
                <use href="assets/svg/icon-sprite.svg#stroke-home"></use>
              </svg></a>
                        </li>
                        <li class="breadcrumb-item">تاریخچه معرفی های من </li>
                        <li class="breadcrumb-item active">پیش فرض</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="mb-0   ">لیست معرفی های من</h4>
                </div>
                <div class="table-responsive signal-table">
                    <p-table #dt [value]="AllmyTasks" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>ردیف</th>
                                <th *ngIf="isThisUserAdmin">نام بروکر</th>
                                <th>نام شرکت</th>
                                <th>نام محصول</th>
                                <th>تاریخ</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </ng-template>
                    
                        <ng-template pTemplate="body" let-task let-i="rowIndex">
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td *ngIf="isThisUserAdmin">{{ task?.user?.fullName }}</td>
                                <td>{{ task?.company.name }}</td>
                                <td>{{ task?.product.name }}</td>
                                <td>{{ task?.createDate | persianDate }}</td>
                                <td>
                                    <span [ngClass]="getStatusInfo(task?.brokerDetailStatusTypes)?.class">
                                        {{ getStatusInfo(task?.brokerDetailStatusTypes)?.text }}
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-warning" style="margin-right: 1%;" type="button" data-bs-toggle="modal" data-bs-target="#editModal" (click)="FillEditForm(task)" *ngIf="task.brokerDetailStatusTypes !=3 || task.brokerDetailStatusTypes !=5">تغییر وضعیت</button>
                                    <button class="btn btn-warning" style="margin-right: 1%;" type="button" data-bs-toggle="modal" data-bs-target="#DetailModal" (click)="FillDetailForm(task)">جزئیات</button>
                                    <button class="btn btn-danger" style="margin-right: 1%;" data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal" (click)="sendId(task?.id)">حذف</button>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="editModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ویرایش وضعیت </h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body">
                <div class="mt-3">
                    <form class="row g-3" style="padding: 5%;" [formGroup]="editStatus">
                        <div class="col-12">
                            <label class="form-label" for="Status">وضعیت جدید</label>
                            <p-select [options]="taskStatusOptions" formControlName="Status" optionLabel="name" optionValue="id" placeholder="انتخاب کنید" style="width: 100%">
                            </p-select>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">بستن</button>
                <button class="btn btn-primary" type="button" (click)="SubmitEditStatus()" data-bs-dismiss="modal">ذخیره تغییرات</button>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    جزئیات قرارداد
                </h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>

            <div class="modal-body">

                <div class="detail-card">
            
                    <div class="detail-row">
                        <div class="detail-label">نام بروکر:</div>
                        <div class="detail-value">{{ selectedTask?.user.fullName || '—' }}</div>
                    </div>
            
                    <div class="detail-row">
                        <div class="detail-label">نام شرکت:</div>
                        <div class="detail-value">{{ selectedTask?.company.name || '—' }}</div>
                    </div>
            
                    <div class="detail-row">
                        <div class="detail-label">نام نماینده شرکت:</div>
                        <div class="detail-value">{{ selectedTask?.company.contactPerson || '—' }}</div>
                    </div>
            
                    <div class="detail-row">
                        <div class="detail-label">شماره تماس شرکت:</div>
                        <div class="detail-value">{{ selectedTask?.company.companyPhone || '—' }}</div>
                    </div>
            
                    <div class="detail-row">
                        <div class="detail-label">تاریخ ثبت:</div>
                        <div class="detail-value">{{ selectedTask?.createDate |persianDate}}</div>
                    </div>
            
                    <div class="detail-row">
                        <div class="detail-label">محصول:</div>
                        <div class="detail-value">{{ selectedTask?.product.name || '—' }}</div>
                    </div>
            
                    <div class="detail-row full">
                        <div class="detail-label">توضیحات:</div>
                        <div class="detail-value">
                            {{ selectedTask?.description || '—' }}
                        </div>
                    </div>
                    <div class="detail-row full">
                        <div class="detail-label">وضعیت کنونی:</div>
                        <div class="detail-value" [ngClass]="getStatusInfo(selectedTask?.brokerDetailStatusTypes)?.class">
                            {{ getStatusInfo(selectedTask?.brokerDetailStatusTypes)?.text || "—"}}
                        </div>
                    </div>
                </div>
            
            </div>
            

            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">بستن</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-toggle-wrapper text-center">
                    <ul class="modal-img">
                        <li><img src="../assets/images/gif/danger.gif" alt="error"></li>
                    </ul>
                    <h4 class="pb-2">اخطار!</h4>
                    <p>آیا از حذف این رکورد مطمئن هستید؟</p>

                    <div class="d-flex justify-content-center gap-3 mt-3">
                        <button class="btn btn-success" type="button" data-bs-dismiss="modal">
                        خیر، حذف نکن
                      </button>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" (click)="DeleteBrokerDetailRecord()">
                        بله، حذف کن
                      </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

