<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>داشبورد مدیریت</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <svg class="stroke-icon">
                <use href="assets/svg/icon-sprite.svg#stroke-home"></use>
              </svg></a>
                        </li>
                        <li class="breadcrumb-item">داشبورد</li>
                        <li class="breadcrumb-item active">پیش فرض</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row widget-grid">
            <div class="col-xxl-4 col-sm-6 box-col-6">
                <div class="card profile-box">
                    <div class="card-body">
                        <div class="media media-wrapper justify-content-between">
                            <div class="media-body">
                                <div class="greeting-user">
                                    <h4 class="f-w-600">خوش آمدید</h4>
                                    <p>داشبورد مدیریت بروکرهای نوین آترا</p>
                                </div>
                            </div>
                            <div>
                                <div class="clockbox">
                                    <svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                    <g id="face">
                      <circle class="circle" cx="300" cy="300" r="253.9"></circle>
                      <path class="hour-marks" d="M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6"></path>
                      <circle class="mid-circle" cx="300" cy="300" r="16.2"></circle>
                    </g>
                    <g id="hour">
                      <path class="hour-hand" d="M300.5 298V142"></path>
                      <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                    </g>
                    <g id="minute">
                      <path class="minute-hand" d="M300.5 298V67">   </path>
                      <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                    </g>
                    <g id="second">
                      <path class="second-hand" d="M300.5 350V55"></path>
                      <circle class="sizing-box" cx="300" cy="300" r="253.9">   </circle>
                    </g>
                  </svg>
                                </div>
                                <div class="badge f-10 p-0" id="txt"></div>
                            </div>
                        </div>
                        <div class="cartoon"><img class="img-fluid" src="assets/images/dashboard/cartoon.svg" alt="vector women with leptop"></div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-4 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round secondary">
                                        <div class="bg-round">
                                            <svg class="svg-fill">
                        <use href="assets/svg/icon-sprite.svg#cart"> </use>
                      </svg>
                                            <svg class="half-circle svg-fill">
                        <use href="assets/svg/icon-sprite.svg#halfcircle"></use>
                      </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <h4>{{data.companiesCount}} عدد</h4><span class="f-light">شرکت ها</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card widget-1">
                                <div class="card-body">
                                    <div class="widget-content">
                                        <div class="widget-round primary">
                                            <div class="bg-round">
                                                <svg class="svg-fill">
                          <use href="assets/svg/icon-sprite.svg#tag"> </use>
                        </svg>
                                                <svg class="half-circle svg-fill">
                          <use href="assets/svg/icon-sprite.svg#halfcircle"></use>
                        </svg>
                                            </div>
                                        </div>
                                        <div>
                                            <h4>{{data.brokersCount}} عدد</h4><span class="f-light">بروکرها</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round warning">
                                        <div class="bg-round">
                                            <svg class="svg-fill">
                        <use href="assets/svg/icon-sprite.svg#return-box"> </use>
                      </svg>
                                            <svg class="half-circle svg-fill">
                        <use href="assets/svg/icon-sprite.svg#halfcircle"></use>
                      </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <h4>{{data.productsCount}} عدد</h4><span class="f-light">محصولات</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card widget-1">
                                <div class="card-body">
                                    <div class="widget-content">
                                        <div class="widget-round success">
                                            <div class="bg-round">
                                                <svg class="svg-fill">
                          <use href="assets/svg/icon-sprite.svg#rate"> </use>
                        </svg>
                                                <svg class="half-circle svg-fill">
                          <use href="assets/svg/icon-sprite.svg#halfcircle"></use>
                        </svg>
                                            </div>
                                        </div>
                                        <div>
                                            <h4>{{data.successCount}} عدد</h4><span class="f-light">معامله موفق</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-6 col-md-6 appointment-sec box-col-6">
                <div class="appointment">
                    <div class="card">
                        <div class="card-header card-no-border">
                            <div class="header-top">
                                <h5 class="m-0">برترین بروکر ها</h5>

                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="appointment-table table-responsive">
                                <table class="table table-bordernone">
                                    <tbody>
                                        @for (item of data.topBrokers; track $index) {
                                        <tr>
                                            <td><img class="img-fluid img-40 rounded-circle" src="assets/images/dashboard/user/1.jpg" alt="user"></td>
                                            <td class="img-content-box"><label class="d-block f-w-500">{{item.fullName}}</label><span class="f-light">{{item.createDate}}</span></td>
                                            <td class="text-end">
                                                <p class="m-0 font-success">{{item.successCount}} عدد قرارداد موفق</p>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-md-6 appointment-sec box-col-6">
                <div class="appointment">
                    <div class="card">
                        <div class="card-header card-no-border">
                            <div class="header-top">
                                <h5 class="m-0">براساس کشور/استان</h5>

                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="appointment-table table-responsive">
                                <table class="table table-bordernone">
                                    <tbody>
                                      <tr *ngFor="let item of data.byContry; let i = index">
                                        <td class="img-content-box">
                                            <div class="d-flex align-items-center gap-3" style="white-space: nowrap;">

                                                <div class="d-flex align-items-center gap-1">
                                                  <span class="fw-bold text-primary">کشور:</span>
                                                  <span class="badge bg-primary px-2 py-1">
                                                    <i class="fa-solid fa-flag me-1"></i>{{ item.country }}
                                                  </span>
                                                </div>
                                              
                                                <span class="text-muted">|</span>
                                              
                                                <div class="d-flex align-items-center gap-1">
                                                  <span class="fw-bold text-info">استان:</span>
                                                  <span class="badge bg-info text-dark px-2 py-1">
                                                    <i class="fa-solid fa-location-dot me-1"></i>{{ item.province }}
                                                  </span>
                                                </div>
                                              
                                                <span class="text-muted">|</span>
                                              
                                                <div class="d-flex align-items-center gap-1">
                                                  <span class="fw-bold text-warning">جهت نسبت به کشور:</span>
                                                  <span class="badge bg-warning text-dark px-2 py-1">
                                                    <i class="fa-solid fa-compass me-1"></i>{{ sideOfCountryMap[item.sideOfContryTypes] }}
                                                  </span>
                                                </div>
                                              
                                              </div>
                                              
                                          <span class="f-light">{{ item.createDate }}</span>
                                        </td>
                                  
                                        <td class="text-end">
                                          <p class="m-0 font-success">
                                            {{ item.count }} عدد قرارداد ثبت شده
                                          </p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<!-- Container-fluid Ends-->